.platOptions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.platOption {
  position: relative;
  border-radius: 10px;
}

.platOption.open {
  margin-top: -2px;
}

.platOption {
  max-width: 100%;
  height: auto;
  margin: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.platOption:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

.platOption:hover:after {
  animation: shine 3s ease-in;
  animation-fill-mode: forwards;
  opacity: 1;
}

@keyframes shine{
  10% {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.1s;
    transition-timing-function: ease;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
  }
}
